/* CSS for the app components (root, header and footer, app container) */

:root {
  --bg-color: #9bc0dc;
  --text-color: #152837;
}

[data-theme='dark'] {
  --bg-color: #152837;
  --text-color: #9bc0dc;
}


.route-content {
  width: 100%;
  position: absolute;
  top: 4.81%;
  left: 0;
  min-height: 90%;
  z-index: 3;
  background-color: var(--bg-color);
}

.header-nav {
  max-height: 20%;
  z-index: 3;
  position: relative;
  transform: translateY(-90%);
  background-color: var(--bg-color);
}

.header-img {
  width: 100%;
  z-index: 0;
  position: relative; /* z index only works on positioned elements*/
}

.header-img-2 {
  position: absolute;
  width: 100%;
  z-index: 4;
}

.footer-nav {
  position: absolute;
  bottom: .5%;
  width: 100%;
  z-index: 3;
}

.footer-img {
  width: 100%;
  transform: translateY(-15%);
  display: block;
  position: absolute;
}

.footer-imgs {
  transform: translateY(-6%);
  position: relative;
  top: -100%; /* Adjust as needed */
  left: 0; /* This places it at the left edge of footer-nav */
  z-index: 5; /* Ensure it's above the footer-img */
}

.app-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.footer-text {
  position: absolute;
  top: 40%; /* Center the text vertically */
  left: 50%; /* Center the text horizontally */
  transform: translate(20%, -50%); 
  z-index: 5; /* Ensure the text appears on top of the image */
  /* Other styles for the text */
  font-family: "sirenia", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5vw;
  text-align: right;
  background: linear-gradient(to top, #caeafe 20%, #416492 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; /* for Safari */
  color: transparent;
  margin-bottom: 0;
}

.link-hold {
  position: relative;
  z-index: 5;
}

.f-img {
 width: 8%;
 position: relative;
}

.f-img-gmail {
  width: 5.5%;
}

.link-hold:hover .f-img, .link-hold:hover .f-img-gmail {
  filter: brightness(1.2);
  box-shadow: 10cap;
}

.link-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 2%;  /* Adjust as needed */
  left: 2%;
  right: 5%;
  z-index: 5; /* Ensure the links appear on top of the image */
  font-family: "sirenia", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3vw;
  text-decoration: none;
}

.right-links {
  display: flex;
  gap: 1rem; /* or whatever spacing you prefer */
}

.art-link, .cs-link, .home-link {
  background: linear-gradient(to top, #caeafe 20%, #dbced8 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; /* for Safari */
  color: transparent;
  padding-bottom: 1%;
}

.art-link:hover, .cs-link:hover, .home-link:hover {
  background: linear-gradient(to top, #1a5b83 20%, #f1cee9 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; /* for Safari */
  color: transparent;
  filter: brightness(1.5);
  box-shadow: 10cap;
}

.welcome, .art, .cs {
  position: absolute;
  top: -180%;
  font-size: 9vw;
  background: linear-gradient(to top, #6fc4fd 20%, #E9F1F7 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; /* for Safari */
  color: transparent;

}

.welcome {
  left: 32%;
}

.art {
  left: 25%;
}

.cs {
  left: 28%;
}

/* size and position changes for smaller screens */
@media (max-aspect-ratio: 15/15) {
  .route-content {
    width: 100%;
    position: absolute;
    top: 4%;
    left: 0;
    min-height: 90%;
    flex: 1;
  }
  .footer-nav {
    transform: translateY(-16%);
  }

  .app-container {
    background-color: #154665;
  }

  .home-link, .art-link, .cs-link {
    font-size: 4vw;
  }

  .art, .cs, .welcome {
    transform: translateY(25%);
  }

.art-menu-container .sub-routes {
  left: -100%;
  min-width: 15%;
}

.cs-menu-container .sub-routes {
  left: -150%;
}

p.cs-text {
  font-size: 2.6vw;
}

.info h1 {
  font-size: 8vw;
  margin-bottom: 0%;
}

}

.sub-routes {
  border-radius: 5% 5%;
  position: absolute;
  background-color: var(--text-color);
  min-width: 10%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 30%;
  top: 100%; /* This positions the dropdown right below the main link */
  left: -80%;
  z-index: 15;
  transition: opacity 0.2s, visibility 0.2s;
  opacity: 1;
}

.cs-menu-container .sub-routes {
  left: -320%;
}

.nav-link {
  color: var(--bg-color);
  padding: 10% 14%;
  font-size: 1.7vw;
  text-decoration: none;
  display: block;
  text-align: center;
}

 .art-link:hover + .sub-routes, .cs-link:hover + .sub-routes {
  display: block;
  opacity: 1;
  visibility: visible;
}

.art-menu-container:hover + .sub-routes, .cs-menu-container:hover + .sub-routes {
  display: block;
  opacity: 1;
  visibility: visible;
}

.art-menu-container, .cs-menu-container {
  position: relative;
}
