.web, .butterflies {
  width: 100%;
}

.butterflies {
  position: absolute;
  top: 0;  
  left: 0; 
  z-index: 1; /* Ensure it's above the main image */
}

.home-container {
  width: 100%;
  position: relative;
  background-image: url('/Web.png');
  background-size: cover; /* Ensure the background image covers the entire container */
  background-repeat: no-repeat;
}

.gmail-link, .linkedin-link {
  position: absolute;
  top: 77%; /* Adjust as needed to position the Gmail icon at the desired spot on the Web image */
  bottom: 90%;
  display: inline-block;
  transition: filter 0.3s ease;
  z-index: 2;
}

.linkedin-link {
  left: 57%;
  right: 25%;
  transform: translate(-50%, -50%); /* Center the icon */
}

.gmail-link {
  left: 40%;
  right: 48%;
}
.gmail, .linkedin {
  width: 100%;
}

.gmail-link:hover  .gmail, .linkedin-link:hover .linkedin{
  filter: brightness(1.2);
  box-shadow: 10cap;
}



