.home-container {
  width: 100%;
  position: absolute;
  top: 4.8%;
  left: 0;
  background-image: url('/Web.png');
  background-size: cover; /* Ensure the background image covers the entire container */
  background-repeat: no-repeat;
}

.header-img {
  width: 100%;
  z-index: 4;
  position: relative; /* z index only works on positioned elements*/
}

.footer-nav {
  position: absolute;
  top: .4%;
}

.footer-img {
  width: 100%;
  top: -10%;
  display: block;
  position: relative;
}

.app-container {
  position: relative;
  width: 100%;
}

