:root {
    --bg-color: #9bc0dc;
    --text-color: #152837;
    --award-color: #60a6dc;
    --about-color: #bfddf4;
}

[data-theme='dark'] {
    --bg-color: #152837;
    --text-color: #9bc0dc;
    --award-color: #0c4977;
}

* {
    transition: all .3s ease-in-out;
}

.art-main {
    display: flex;
    position: relative;
    background-color: var(--bg-color);
    z-index: 3;
    height: 100%;
    color: var(--text-color);
    font-family: "sirenia", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3vw;
    z-index: 3;
}

.info {
    display: flex;
    flex-direction: column;
    margin-right: 6%;
    margin-left: 6%;
    text-align: center;
}

.nav-inner {
    position: relative;
} 

.inner-div {   
   justify-content: space-around;
   display: flex;
}

.nav-link {
    font-size: small;
}

.nav-link:hover {
    filter: brightness(1.2);
    box-shadow: 10cap;
    background: linear-gradient(to top, var(--bg-color) 20%, var(--text-color) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; /* for Safari */
    color: transparent;
    filter: brightness(1.5);
    box-shadow: 10cap;
 } 

.about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    padding: 2%;
    margin-bottom: 2%;
}

.about > h1 {
    transform: translateX(70%);
    font-size: 184%;
}
.text-video {
    display: block;
}

.movie {
    float: right;
    width: 50%;
    margin-right: 30%;
    margin-bottom: 2%;
    max-height: 50%;
}

iframe {
    width: 120%;
    aspect-ratio: 16/9;
}

.about-text {
    font-size: medium;
    float: left;
    display: block;
}

p > a {
    font-size: medium;
    color: var(--text-color);
    text-decoration: underline;
}

div > h2 {
    font-size: 70%;
}

div > h5 {
    font-size: 50%;
}

h2 > p {
    font-size: smaller;
}


@media (max-aspect-ratio: 13/15) {

    .art-main {
        height: 80%;
    }
    .nav-link {
        font-size: x-small;
    }
    .info {
        display: flex;
        flex-direction: column;
        margin-right: 6%;
        margin-left: 6%;
        text-align: center;
        justify-content: space-around;
    }
    .about-text {
        font-size: xx-small;
    }
    p > a {
        font-size: xx-small;
    }
    .movie {
        width: 30%;
    }
  }


@media (max-aspect-ratio: 15/15) {

    .info {
        display: flex;
        flex-direction: column;
        margin-right: 6%;
        margin-left: 6%;
        text-align: center;
    }
    .about-text {
        font-size: x-small;
    }
    p > a {
        font-size: x-small;
    }
    .movie {
        width: 40%;
    }
  }