:root {
    --bg-color: #9bc0dc;
    --bg-color-lowo: rgb(155, 192, 220, .5);
    --text-color: #152837;
    --award-color: #60a6dc;
    --about-color: #bfddf4;
    --bg-img: url('/bgPages/Art_Page_Light.png');
    --bg-img-p: url('/bgPages/Art_Page_Light_Purple.png');
}

[data-theme='dark'] {
    --bg-color: #152837;
    --bg-color-lowo: rgb(21, 40, 55, .5);
    --text-color: #9bc0dc;
    --award-color: #0c4977;
    --bg-img: url('/bgPages/Art_Page_Dark.png');
    --bg-img-p: url('/bgPages/Art_Page_Dark_Purple.png');
}

* {
    transition: all .3s ease-in-out;
}

.main, .cs-main {
    display: flex;
    position: absolute;
    z-index: 3;
    height: 100.4%;
    color: var(--text-color);
    font-family: "sirenia", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3vw;
    z-index: 3;
    background-image: var(--bg-img);
    background-size: 100% auto;
}

.info {
    display: flex;
    flex-direction: column;
    margin-right: 6%;
    margin-left: 6%;
    text-align: center;
    background-color: var(--bg-color-lowo);
    padding: 1%;
}

.awards ul li {
    color: var(--text-color);
    font-size: 70%;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 2%;
    text-align: left; 
    position: relative;
    padding-bottom: 1%; 
    margin-bottom: 1%; 
    border-bottom: 2px solid var(--text-color);
}




.awards > ul > li >span {
    text-align: right;
    margin-left: 2%;
}

.center {
    text-align: center;
    margin-right: 15%;
    margin-left: 2%;
}

.awards > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
}

.awards, .pubs {
    position: absolute;
    display: flex;
}

.awards {
    top: 40%;
    left: 10%;
    width: 100%;
}

.pubs {
    top: 70%;
    left: 20%;
}

.awards > h2, .pubs > h2 {
    width: .1rem;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 110%;
}

.pubs > h2 {
    width: 4rem;
    writing-mode: vertical-rl;
    transform: translateY(-20%);
    padding-left: 15%;
}

.pubs > p {
    left: 20%;
}
.nav-inner {
    position: relative;
} 

.inner-div {   
   justify-content: space-around;
   display: flex;
}

.nav-link {
    font-size: small;
}

.nav-link:hover {
    filter: brightness(1.2);
    box-shadow: 10cap;
    background: linear-gradient(to top, var(--bg-color) 20%, var(--text-color) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; /* for Safari */
    color: transparent;
    filter: brightness(1.5);
    box-shadow: 10cap;
 } 

.about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    padding: 2%;
    margin-bottom: 2%;
}

.about > h1 {
    transform: translateX(70%);
    font-size: 184%;
}

.about > p {
    font-size: 100%;
}
.text-video {
    display: block;
}

.movie {
    float: right;
    width: 50%;
    margin-right: 30%;
    margin-bottom: 2%;
    max-height: 50%;
}

.about-text {
    font-size: 60%;
    float: left;
    display: block;
}

p > a {
    font-size: 100%;
    color: var(--text-color);
    text-decoration: underline;
}

h2 > p {
    font-size: smal;
}

.pubs > a {
    font-size: 60%;
}

@media (max-aspect-ratio: 13/15) {
    .main {
        height: 80%;
    }
    .nav-link {
        font-size: x-small;
    }
    .info {
        display: flex;
        flex-direction: column;
        margin-right: 6%;
        margin-left: 6%;
        text-align: center;
        justify-content: space-around;
    }
   
    .pubs {
        top: 50%;
    }

    .pubs h2 {
        padding-left: 10%;
    }
  }

@media (max-aspect-ratio: 578/667) {
    .about {
        transform: translateY(-120%);
        font-size: 3.5vw;
    }
  }

@media (max-aspect-ratio: 17/15) {
    .main {
        height: 100%;
    }

    .about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    padding: 2%;
    margin-bottom: 2%;
    }

    .info {
        display: flex;
        flex-direction: column;
        margin-right: 6%;
        margin-left: 6%;
        text-align: center;
    }
    
   .pubs {
    top: 70%;
   }

   .pubs > h2 {
    font-size: 110%;
   }

  }


  .cs-main {
    background-image: var(--bg-img-p);
    flex-direction: column;
    position: absolute;
  }

  .cs-text {
    font-size: 80%;
  }

  .sub-links {
    display: block;
    height: 10%;
    background-color: var(--bg-color-lowo);
    left: 10%;
    margin-top: 3%;
    margin-left: 6%;
    margin-right: 6%;
    padding-bottom: 50%;
    padding-top: 2%;

  }

  .link {
    transform: translateX(10%);
    z-index: 15;
  }
  .gif {
    height: 150%;
    margin-left: 5%;
    transform: translateX(10%);
  }

  .gif:hover {
    filter: brightness(1.2);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    height: 160%;
  }

  .one {
    transform: translateX(40%);
    margin-bottom: 2%;
  }

  .MP7 {
    height: 100%;
    transform: translateX(20%);
    margin-bottom: 2%;
  }

  .MP7:hover {
    height: 110%;
  }

  .dt {
    width: 60%;
    height: auto;
  }

  .dt:hover {
    width: 70%;
    height: auto;
  }
  
  .tp {
    height: 80%;
  }

  .tp:hover {
    height: 90%;
  }