 .dark_mode {
    position: relative;
    left: -37%;
    width: 1%;
}

.dark_mode_label>img {
    width: 500%;
    transform: translateY(-15%);
    position: absolute;
    left: 0;    
}

.dark_mode_label {
    width: 1%;
    cursor: pointer;
    transition: 0.3s;
    z-index: 5;
}

.dark_mode_input {
    width: 0;
    height: 0;
    visibility: hidden;
}

.dark_mode_input:checked + .dark_mode_label:after {
    left: 62px;
    transform: translateX(-100%);
    background: linear-gradient(180deg, #777, #3a3a3a);
}
.dark_mode_label:active:after {
    width: 30px;
}

img.hidden {
    opacity: 0;
}

img.visible {
    opacity: 1;
}

* {
    transition: all .3s ease-in-out;
}

@media (max-aspect-ratio: 15/15) {
    .dark_mode_label>img {
        transform: translateY(-100%);
    }
}

@media (max-aspect-ratio: 11/15) {
    .dark_mode_label>img {
        transform: translateY(-20%);
    }
}