.web, .butterflies {
    width: 100%;
    margin-top: -.8%;
  }
  
  .butterflies {
    position: absolute;
    top: 0;  
    left: 0; 
    z-index: 1; /* Ensure it's above the main image */
  }


.web-content {
    display: inline-block;
    transition: filter 0.3s ease;
    z-index: 1;
  }
  
  .gmail-link, .linkedin-link {
    position: absolute;
    top: 77%; /* Adjust as needed to position the Gmail icon at the desired spot on the Web image */
    bottom: 90%;
    z-index: 5;
  }
  
  .ig-link, .discord-link, .github-link {
  position: absolute;
  top: 84%;
  bottom: 88%;
  z-index: 5;
  }
  
  .github-link {
    left: 56%;
    right: 24%;
    transform: translateY(-10px);
  }
  
  .discord-link {
    left: 40%;
    right: 38%;
  }
  
  .ig-link {
    left: 35%;
    right: 45%;
    transform: translate(-50%, -50%);
  }
  
  .linkedin-link {
    left: 57%;
    right: 25%;
    transform: translate(-50%, -50%); /* Center the icon */
  }
  
  .gmail-link {
    left: 40%;
    right: 48%;
  }
  .gmail, .linkedin, .ig, .discord, .github {
    width: 100%;
  }
  
  .gmail-link:hover  .gmail, .linkedin-link:hover .linkedin,
  .ig-link:hover .ig, .discord-link:hover .discord, .github-link:hover .github
  {
    filter: brightness(1.2);
    box-shadow: 10cap;
    width: 110%;
    transform: translateY(-10px);
  }
  
  @media (max-aspect-ratio: 9/15) {

    .gmail-link, .linkedin-link {
        position: absolute;
        top: 68%; /* Adjust as needed to position the Gmail icon at the desired spot on the Web image */
        bottom: 90%;
        z-index: 5;
      }

      .ig-link, .discord-link, .github-link {
        position: absolute;
        top: 74%;
        bottom: 88%;
        z-index: 5;
        }
        
        .gmail, .linkedin, .ig, .discord, .github {
            width: 95%;
          }

          .butterflies {
            display: none;
            opacity: 0;
          }
  }